#!/bin/sh
SCRIPT_DIR="$(dirname "$0")"
CERT_DIR="${SCRIPT_DIR}/certificates"
HOST={{ vpn_host }}
USER={{ vpn_user }}
{% if vpn_group is defined %}
GROUP={{ vpn_group }}
{% endif %}

#set -v
# --verbose

pid_file="/run/openconnect/openconnect.pid"

exec openconnect \
	--pid-file=${pid_file} \
	--background --cafile=${CERT_DIR}/P7S1Sub.cer \
	--certificate=${CERT_DIR}/${USER}.pfx \
	--user=${USER} ${GROUP:+--authgroup=${GROUP}} \
	--key-password="$(cat ${CERT_DIR}/clean_pw.txt)" \
	--passwd-on-stdin \
	${HOST} < "${CERT_DIR}/user_pw.txt"
