[Unit]
Description=OpenConnect VPN connection
After=network.target
Requires=networking.service

[Service]
Type=forking
ExecStart=/home/vagrant/openconnect-script.sh
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -INT $MAINPID

Restart=on-success
RestartSec=10
SuccessExitStatus=1 2

PIDFile=/var/run/openconnect.pid

#KillSignal=INT

[Install]
WantedBy=multi-user.target